.interactive-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
}

.interactive-card:hover {
    transform: translateY(-5px); /* Slightly raise the card */
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* Add shadow to make it pop out */
}

.step-number {
     font-family: 'Courier New', monospace; /* System font */
    font-size: 1.5em;
    color: #fff; /* White text */
    background-color: var(--navy); /* Bootstrap primary color */
    padding: 2px 8px;
    border-radius: 50%; /* Circular background */
    margin-right: 0.5em;
    display: inline-block;
    text-align: center;
}

.bk-light-gray{
  background-color: #f5f5f5;
}

             
/* Custom arrow for the select box using pseudo-elements */
.select-custom {
    flex-grow: 1; /* Allows the select box to take up available space */
    padding: 5px 10px; /* Padding for aesthetics */
    border: 1px solid #ced4da; /* Subtle border matching Bootstrap's defaults */
    border-radius: 5px; /* Slight rounding of corners */
    appearance: none; /* Remove default system styling */
    background-color: #fff; /* Ensure background is white */
    font-size: 16px; /* Slightly larger font for readability */
}

#videoElem {
    width: 100%; /* Ensures the video fits the width of the container */
    max-width: 100%; /* Ensures the video does not exceed the container width */
    height: auto; /* Maintains aspect ratio */
}

/* Hide the container initially */
.generated-output {
    display: none;
}
.hashtag-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 5px; /* Adjust the space between the hashtag boxes */
}

.hashtag {
  background-color: #e9ecef; /* Light gray background */
  color: #333; /* Dark text color for contrast */
  border-radius: 15px; /* Rounded corners */
  padding: 5px 10px; /* Padding inside the hashtag boxes */
  font-size: 0.9em; /* Smaller font size */
  font-family: Arial, sans-serif; /* Simple sans-serif font */
}



.grayRoundedContentBorder{
  border: 1px solid #606060;
  padding: 10px;
  border-radius: 10px;
}

.purpleHazeRoundedContentBorder {
  border: 1px solid #e4e1e8;
  padding: 10px;
  border-radius: 5px;
  background: #f9f7fa;
  
}

.refinedBlue{
  color: #615EFC;
}



.btn-outline-teal {
    border-color: #69ADB9;
    color: #333;
}
.btn-outline-teal:hover {
    background-color: #69ADB9;
    border-color: #5D9DA6;
}

.btn-pastel-lavender {
    background-color: #E6E6FA;
    color: #5D5D6D;
}
.btn-pastel-lavender:hover {
    background-color: #D6D6F0;
}
.btn-outline-lavender {
    color: #615EFC;
    border-color: #7E8EF1;
}
.btn-outline-lavender:hover {
    color: #EEEEEE;
    background-color: #7E8EF1;
}


.btn-pastel-lavender {
    background-color: #E6E6FA;
    border-color: #DDD;
    color: #333;
}
.btn-pastel-lavender:hover {
    background-color: #D6D6F0;
    border-color: #CCC;
}

.btn-pastel-blue {
    background-color: #AEC6CF;
    border-color: #99B4C1;
    color: #333;
}
.btn-pastel-blue:hover {
    background-color: #9DBACC;
    border-color: #8AA9B9;
}

.btn-pastel-teal {
    background-color: #77BFC7;
    border-color: #69ADB9;
    color: #333;
}
.btn-pastel-teal:hover {
    background-color: #69ADB9;
    border-color: #5D9DA6;
}



.nav-pills {
    display: inline-flex;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
}

.nav-link {
    transition: color 0.3s, background-color 0.3s;
    border: none;
    border-radius: 0;
}

.nav-link:not(.active):hover {
    background-color: #e9ecef;
}

.nav-link.active {
    background-color: #007bff;
    color: white;
}

.tab-content > .tab-pane {
    transition: opacity 0.5s ease;
}

.tab-content > .tab-pane:not(.active) {
    display: block;
    height: 0;
    overflow: hidden;
    opacity: 0;
}

